
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    width: 100%;
    background-color: #fafafa;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    width: 100%;
    height: 100%;
}

.main .container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 32px auto;
}

.main .left {
    width: 380.31px;
}

.main .right {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    margin-left: 32px;
    height: 395px;
}

.main .right .logo {
    width: 175px;
    height: 51px;
    margin: 36px auto 12px;
}

.main .right input {
    background: rgba(var(--b3f,250,250,250),1);
    border: 1px solid #dbdbdb;
    padding: 9px 0 7px 8px;
    margin: 3px 2px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.75;
}

.main .right .input-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px 6px;
}

.main .right .login {
    margin: 6px auto;
}

.main .right .login .login-btn {
    background-color: #0095f6;
    opacity: 1;
    border: 1px solid transparent;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 94px;
    border-radius: 4px;
}

.main .right .login .login-btn .btn-content {
    margin-top: 1px;
}

.main .right .border-section {
    position: relative;
    margin: 6px auto;
    width: 264px;
    display: flex;
}

.main .right .content {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    color: #8e8e8e;
    margin: 0 auto;
}

.main .right .content::after { 
    content: "";
    position: absolute;
    background-color: #dbdbdb;
    height: 1px;
    width: 98px;
    top: 50%;
    right: 0;
}

.main .right .content::before {
    content: "";
    position: absolute;
    background-color: #dbdbdb;
    height: 1px;
    width: 98px;
    top: 50%;
    left: 0;
}

.main .right .Facebook-link {
    margin: 6px auto;
}

.fa {
    color: #385185;
    margin-right: 3px;
}

.main .right .Facebook-link .fb-link {
    font-size: 14px;
    color: #385185;
    font-weight: 600;
}

.main .right .password {
    font-size: 12px;
    line-height: 18px;
    color: #385185;
}

.main .right .forgot_password {
    margin: 12px auto;
}

.footer {
    width: 100%;
    height: 157px;
    padding: 0 16px;
}

.footer .container {
    width: 100%;
    height: 100%;
}

.footer .container .content-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
}

.footer .container .content-container .list1 {
    display: flex;
    justify-content: center;
}

.footer .container .content-container .row-container {
    margin-top: 24px;
}

.footer .container .content-container .list2 {
    display: flex;
    justify-content: center;
}

.footer .container .content-container .list-items {
    margin: 0 8px 6px;
}

.footer .container .content-container .list-items .footer-link {
    color: #8e8e8e;
}